*,
*:before,
*:after {
    box-sizing: border-box;
}
body {   
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    margin: 0;
    background-color: #fff;
    -webkit-font-smoothing: antialiased; 
}
a {
    text-decoration: none;
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0 0 5px;
}

/*  CONTAINER ==========================*/

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*  HEADER ============================*/

.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    border-bottom: 1px solid #515369;
    align-items: center;
}

/*  NAVIGATION ============================*/

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav__link { 
    margin-left: 50px;
    color: #fff; 
    text-decoration: none;
    opacity: .75;
    transition: opacity .1s linear;
}
.nav__link:first-child {
    margin-left: 0;
}
.nav__link:hover {
    opacity: 1;
}

/*  INTRO ============================*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;
    background: url("../img/intro-bg.jpg");
    background-color: #31344e;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* background: #31344e url("E:\EPAM 2021\img") no-repeat center / cover; */
}
.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}
.intro__title {
    margin: 0 0 30px;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 65px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 1170px;
    line-height: 1.1;
}
.intro__subtitle {
    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 60px;
}

/*  BUTTON ============================*/

.btn {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 14px 40px;
    border-radius: 2.5px;
    font-family: 'Raleway', sans-serif;
    transition:  background-color .1s linear;
    text-align: center;
}
.btn--red {
    background-color: #e84545;
}
.btn--red:hover {
    background-color: #dd3434;
}
.btn--long {
    min-width: 280px;
}

/*  FEATURES ============================*/

.features {
    display: flex;
    margin: 95px 0;
    flex-wrap: wrap;
}
.features__item {
    width: 33.333333%;  
    text-align: center;
    padding: 0 40px;
    margin: 30px 0;
}
.features__icon {
    margin-bottom: 25px;
}
.features__title {
    margin-bottom: 20px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}
.features__text {
    color: #6c7279;
    line-height: 1.5;
}

/*  WORKS ============================*/

.works {
    display: flex;
    flex-wrap: wrap;
}
.works__item {
    width: 25%;
    position: relative;
    overflow: hidden;
    height: 350px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}
.works__item:hover .works__content {
    opacity: 1;
}
.works__photo {
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}
.works__content {
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;

    text-align: center;

    position: absolute;
    background-color: rgba(232, 69, 69, .9);
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 2;

    transition: opacity .2s linear;
}
.works__title {
    margin-bottom: 5px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.works__text {
    font-weight: 400;
    color: #fff;

}

/*  TEAM ============================*/

.team {
    margin: 60px 0 30px;
}
.team__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.team__item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 15px;

}
.team__photo {
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
}
.team__name {
    margin-bottom: 8px;
    font-size: 22px;
    color: #2d3033;
    
}
.team__prof {
    margin-bottom: 15px;
    color: #e84545;
    font-size: 13px;
    text-transform: uppercase;
}
.team__text {
    color: #6c7279;
    line-height: 1.4;
    font-size: 14px;   
    margin-bottom: 20px;
}

/*  SOCIAL ============================*/

.social {
    display: flex;
}
.social--footer{
    justify-content: center;
}
.social__item {
    width: 40px;
    height: 40px;
    border: 1px solid #e8ecee;
    display: flex;
    justify-content: center;
    margin-right: 4px;
    align-items: center;
    background-color: #fff;
    transition: background-color .1s linear;
}
.social__icon {
    fill: #c6cacc;
    display: block;
    height: 18px;
}
.social__item:hover {
    background-color: #e8ecee;
}
.social__item:hover .social__icon {
    fill: #000;
    transition: fill .1s linear;
}
.social--footer .social__item {
    background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}
.social--footer .social__icon {
    fill: #fff;
}
.social--footer .social__item:hover {
    background-color: #fff;
}

/*  REVIEWS ============================*/

.reviews {
    background-color: #53354a;
    overflow: hidden;
}
.reviews__item {
    display: flex;
    flex-wrap: wrap;
}
.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
}
.reviews__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;    
    transform: translateY(-50%);
}
.reviews__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}
.reviews__text {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 25px;
}
.reviews__author {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

/* Download ============================*/

.download {
    margin: 90px 0;
    text-align: center;
}
.download__title {
    margin-bottom: 10px;
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
}
.download__text {
    font-size: 13px;
    color: #2d3033;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 25px;
}

/* Footer ============================*/

.footer {
    background-color: #3a3e64;
}
.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}
.footer__block {
    width: 33.33%;
    text-align: center;
    padding: 0 15px;
}
.footer__title {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
.footer__adress{
    font-size: 14px;
    line-height: 1.5;
    font-style: normal;
    color:rgba(255, 255, 255, .5)
}
.footer__text{
    font-size: 14px;
    line-height: 1.5;
    color:rgba(255, 255, 255, .5)
}

/* Copyright ============================*/

.copyright {
    background-color: #313454;
    padding: 20px 0;
}
.copyright__text {
    text-align: center;
    font-size: 14px;
    color: #808080;
    line-height: 1.5;
}
.copyright__text span {
    color: #fff;
}

/* Burger ============================*/

.burger {
    display: none;
    background: none;
    border: 0;
    padding: 9px 2px;
    cursor: pointer;
    outline: none;
}
.burger__item {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    font-size: 0;
    color: transparent;
    position: relative;
    
}
.burger__item:before,
.burger__item:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    z-index: 1;
}
.burger__item:before {
    top: -8px;
}
.burger__item:after {
    bottom: -8px;
}



/* Media ============================*/

@media (max-width: 1300px) {

    .works__item {
        width: 50%;
    }


}

@media (max-width: 991px) {

    .nav {
        display: none;
    }
    .burger {
        display: block;
    }
    .intro__title {
        font-size: 40px;
    }
    .features__item {
        width: 50%; 
    }
    .team__item {
        width: 50%;
        text-align: center;
    }
    .team__photo {
        margin-left: auto;
        margin-right: auto;
    }
    .social {
        justify-content: center;
    }
    .reviews__photo {
        width: 100%;
        overflow: hidden;
        margin: 15px 0 40px;
    }
    .reviews__content {
        width: 100%;
        padding-left: 0;
        padding-bottom: 40px;
    }
    

}

@media (max-width: 767px) {

    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }
    .intro__title {
        font-size: 30px;
    }
    .intro__subtitle {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .features {
        margin: 40px 0;
    }
    .features__item {
        width: 100%; 
        padding-left: 0;
        padding-right: 0;
    }
    .works__item {
        width: 100%;
        height: 300px;
    }
    .team__item {
        width: 100%;
    }
    .social {
        margin-bottom: 10px;
    }
    .reviews__text {
        font-size: 24px;
    }
    .reviews__author {
        font-size: 10px;
    }
    .btn--long {
        min-width: 260px;
    }
    .download {
        margin: 50px 0;
    }
    .download__title {
        font-size: 24px;
    }
    .footer__block {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 30px;
    }
    .footer__block:last-child {
        margin-bottom: 0;
    }
    .footer__inner {
        padding: 30px 0;
    }

}

@media (max-width: 480px) {
    .reviews__img {
        right: -100px;
    }
}